:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: '8Bit';
  src: url('../../fonts/PressStart2P-Regular.ttf') format('truetype'); /* Update the filename and format as needed */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: '8Bit', sans-serif !important;
}

.login-reg-form label {
  color : white;
  margin-bottom: 3%;
  margin-left: 2%;
  vertical-align: middle; /* Align the label text vertically in the middle */
}

.login-reg-form input {
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  margin-left: 2%; /* Remove margin to align with the label */
  padding: 1.5%; /* Add some padding to the input for better appearance */
  background-color: transparent; /* or background-color: initial; */
  border: 0.1em solid white;
  vertical-align: middle; /* Align the input vertically in the middle */
  font-family: '8Bit', sans-serif !important;
  
}

.login-reg-form .input-container {
  display: flex;
  flex-direction: column;
  
  margin-top: 3%;
  margin-left: 1%;
}

@media screen and (max-width: 600px) {
  .login-reg-form .input-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    margin-top: 3%;
    margin-left: 1%;
  }

  .login-reg-form input {
    margin-left: 0%;
    margin-bottom: 0%;
    
  }

  .login-reg-form form {
    text-align: center; /* Center items horizontally */
  }

  .login-reg-form .button-container {
    margin-top: 10%;
  }

  .login-reg-form img {
    margin-right: 5% !important;
    padding-bottom: 3%;
  }

  .login-reg-form .forgotPassword {
    padding-top: 20% !important;
    font-size: 0.6em !important;
  }

  .login-reg-form .forgotPasswordReg {
    margin-top: 5%;
    padding-top: 10%;
    font-size: 0.6em !important;
    width: 40%;
  }
  
  .login-reg-form .forgotPasswordReg img{
    padding-top: 1.4%;
    padding-right: 1%;
  }

  .login-reg-form .Recover {
    margin-top: 10%;
    margin-bottom: 30%;
  }

  .login-reg-form .input-container .password {
    width: 80%;
    /* Add any additional styling for your input field */
  }
  
}

.login-reg-form .input-container input {
  width: 68%;
  /* Add any additional styling for your input field */
}

.login-reg-form button {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  margin: 0;
  display: flex;
  align-items: center;
  content: center;
  justify-content: center;
  text-align: center;
  width: 30%;
  color : white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.login-reg-form .button-container {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.login-reg-form .select-icon{
  margin-right: 1%;
  margin-left: -1%;
  text-align: center;
  height: 0.8em;
  margin-bottom: 0.8%;
  opacity: 0;
}

.login-reg-form .button-container button {
  font-size: 1em;
  margin-bottom: 3%;
  height: 0.5em;
  text-align: center;
  justify-content: center;
  outline: none !important;
  outline-style: none !important;

}

.login-reg-form .button-container button:hover .select-icon {
  opacity: 1;
}

.login-reg-form button:active,
.login-reg-form button:focus,
.login-reg-form button:hover,
.login-reg-form button:not(:focus) {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}



.login-reg-form .container {
  position: relative;
  background-color: #36721C; /* Semi-transparent red for visibility */
}

.login-reg-form img {
  padding-bottom: 1.6%;
  padding-right: 3%;
}

.login-reg-form .forgotPassword {
  padding-top: 4%;
  font-size: 0.6em !important;
  width: 40%;
}

.login-reg-form .forgotPassword img{
  padding-top: 1.4%;
  padding-right: 1%;
}

.login-reg-form .forgotPasswordReg {
  padding-top: 4%;
  font-size: 0.6em !important;
  width: 40%;
}

.login-reg-form .forgotPasswordReg img{
  padding-top: 1.4%;
  padding-right: 1%;
}

.login-reg-form a {
  color: inherit; /* or use a different color */
  text-decoration: none; /* optional: remove underline */
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  margin: 0;
  display: flex;
  align-items: center;
  content: center;
  justify-content: center;
  text-align: center;
  width: 30%;
  color : white;
}

/* If you want to style visited links differently */
.login-reg-form a:visited,
.login-reg-form a:hover,
.login-reg-form a:focus {
  color: inherit !important; /* or use a different color */
}

/* If you want to style links on hover */
.login-reg-form a:hover {
  color: inherit; /* specify the color you want on hover */
}

.login-reg-form .button-container a {
  font-size: 1em;
  margin-bottom: 3%;
  height: 0.5em;
  text-align: center;
  justify-content: center;
  outline: none !important;
  outline-style: none !important;

}

.login-reg-form .button-container a:hover .select-icon {
  opacity: 1;
}

.login-reg-form .Recover {
  margin-top: 5%;

}

.login-reg-form .input-container .password {
  width: 58%;
  /* Add any additional styling for your input field */
}

.logo {
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
}

.logo:hover {
  cursor: pointer;
}

.response-button {
  margin-top: 90%;
  height: 100%;
}