.text-flexbox {
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width:fit-content;
}

.description-container {
  width: 60%;
  padding-right: 2%;
}

.extra-info {
  padding-left: 2%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-text {
  font-size: 12px;
}

.alt-text {
  font-size: 14px;
}

.description-title {
  font-size: 24px;
}

.game-title {
  text-align: center;
  font-size: 32px;
}

@media screen and (max-width: 810px) {
  .text-flexbox {
    flex-direction: column;
  }

  .description-container {
    width: auto;
    padding-right: 0%;
  }

  .description-text {
    text-align: left;
    margin-left: 15px;
    font-size: 12px;
  }

  .game-title {
    font-size: 20px;
  }

  .extra-info {
    width: auto;
  }

  .description-title{
    text-align: center;
    font-size: 20px;
  }

  .alt-text {
    font-size: 12px;
  }
}