.game-img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.card-img {
  padding: 1px;
  transition: 0.5s ease;
}

.library-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 95%;
  justify-content: center;
}

.card-img.selected {
  border-style: dashed;
}