.user-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-save-table {
  width: 500px;
  height: 350px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
  overflow-y: scroll;
  overflow-x: visible;
}

.user-save-title {
  text-align: center;
  font-size: 32px;
}


.user-save-wrapper {
  margin-left: 73px;
  overflow-y: scroll;
  overflow-x: visible;
}

.user-table-title {
  font-size: 15px;
  margin-left: 5px;
}

.context-menu-div {
  margin-left: auto;
}

.save-table-content {
  font-size: 13px;
  margin-left: 5px;
}

.user-save-a {
  display: flex;
  flex-direction: row;
  color: inherit;
  text-decoration: none;
}

.user-save-a:hover {
  background-color: #B1BBD4;
  transition: 0.3s;
}

.user-save-line {
  color: white;
}

.add-svg {
  cursor: pointer;
  width: 30px;
  margin-left: auto;
  filter: invert(100%) sepia(4%) saturate(0%) hue-rotate(267deg) brightness(105%) contrast(109%);
  margin-right: 7px;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1650px){
  body {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 810px) {
  .user-save-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .div-wrapper-save {
    margin-left: 0px;
    overflow: hidden;
  }

  .save-table {
    width: auto;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    margin: 5px;
    padding: 5px;
  }
}